# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
#   For a library or package, you might want to ignore these files since they are
#   local
.python-version

# pipenv
#   Relying on pypa/pipenv#598, we recommend including Pipfile.lock in version control.
#   However, you can uncomment if you prefer to ignore it:
#Pipfile.lock

# Poetry
#   Relying on poetry.lock/pyproject.toml, we recommend including poetry.lock in version control.

# pdm
#   Relying on pdm.lock, we recommend including it in version control
#   pdm recommends excluding project-wide configuration local overrides

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors (VS Code, PyCharm)
.vscode/
.idea/

# Windows specific files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_db.ini
Desktop.ini
$RECYCLE.BIN/
*.lnk
